version: '2'
services:
  redis:
    image: redis
    networks:
      app_net:
        ipv4_address: 172.16.238.10
  host:
    build: host
    ports:
      - 8080:8080
    volumes:
      - /home/corefn/manifest:/var/func/manifest
    links:
      - redis:redis
  cleaner:
    build: cleaner
    links:
      - redis:redis
networks:
  app_net:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.16.238.0/24
        gateway: 172.16.238.1
